<form #loginForm="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      ngModel
      name="email"
      required
      #emailInput="ngModel"
      email
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
    <div
      *ngIf="emailInput.invalid && emailInput.touched"
      class="alert alert-danger"
    >
      Veuillez saisir un email valide.
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      ngModel
      name="password"
      required
      #passwordInput="ngModel"
      type="password"
      minlength="4"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
    <div
      *ngIf="passwordInput.invalid && passwordInput.dirty"
      class="alert alert-danger"
    >
      Veuillez saisir un mot de passe de taille 4 caractères minimum.
    </div>
  </div>
  <button
    (click)="login(loginForm.value)"
    [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
