<div class="row">
  <div class="col">
    <div class="alert alert-primary">
      Il est {{ date | date: "short" | uppercase }} 1 btc est égale à :
      {{ 1 | usdBtc: 0 | currency }} 1 usd est égale à : {{ 1 | usdBtc }}
    </div>
    <div class="alert alert-success">
      Il y a {{nbre}} cv sélectionné
    </div>
<!--     (forwardSelectedCv)="getSelectedCv($event)"
 -->    <app-list></app-list>
  </div>
  <div class="col">
    <!-- afficherLeCv(cv)
        afficherrLeCv(selectedCv)
    -->
    <app-card-detail></app-card-detail>
  </div>
</div>
<div class="row">
  <app-embauche></app-embauche>
</div>
