<div class="row">
  <div class="col">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{ todo.name }} : {{ todo.content }}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash fa-2x"
          aria-hidden="true"
        ></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name :
    <input type="text" class="form-control" [(ngModel)]="todo.name" />
    content:
    <input type="text" class="form-control" [(ngModel)]="todo.content" />
    <button
      (click)="addTodo()"
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      class="btn btn-primary mt-2"
    >
      Add Todo
    </button>
  </div>
</div>
<!-- <div class="row">
  <app-cv></app-cv>
</div> -->
